body{
    background-color:white;
    overflow-x: hidden;
}
.titulo-principal{
    padding-left: 20px;
}
.titulo-centralizado{
    text-align: center;
}
#banner{
    width: 50%;
    height: 400px;
    width: 1333px;
}
p {
    text-align: center;
}
#missao{
    font-size: 25px;
    font-weight: 1000;
}
.itens{
    font-style: italic;
    font-size: 20px;
}
.beneficios{
    color: azure;
    background-color: rgb(66, 60, 48);
    text-align: center;
    margin-left: -10px;
}
